:root {
  --neitral-light: #495057;
}

.header {
  width: 100%;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;

  background: linear-gradient(to bottom, white, transparent);
  color: #495057;

  transition: transform 0.3s ease-in-out;

  font-family: 'Inconsolata', monospace;
}

h1 {
  cursor: pointer;
}

.show-records {
  background-color: white;

  font-size: 20px;
  padding: 0.5rem 1rem;
  border: 2px solid #495057;
  border-bottom: 3px solid #495057;
  border-radius: 10px;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.active-link {
  color: white;
  background-color: #495057f1;

  box-shadow: 5px 5px 10px rgba(238, 155, 0, 0.5);
}
