<div class="header d-flex justify-content-between align-items-baseline">
  <h1 (click)="navigateHome()">Movie Poll 🎬</h1>
<!--  <button type="button" class="btn show-records" (click)="showRecords()">Statistics</button>-->
  <div class="d-flex justify-content-between align-items-baseline gap-4">
    <a routerLink="/questionnaire" class="btn navigation-btn" routerLinkActive="active-link">Questionnaire</a>
    <a routerLink="/records" class="btn navigation-btn" routerLinkActive="active-link">Statistics</a>
  </div>
</div>
