$primary: #f0e4f7;
$secondary: #9bdfce;
$warning: #feeed8;
$danger: #d15340;
$success: #b3de95;
$info: #c1d3fd;
$neutral: #0c0b0d;

@import "../../../../node_modules/bootstrap/scss/bootstrap";

//$theme-colors: (
// primary: #ea60a2,
// secondary: #53bfc8
//);


