$primary: #f795ac;
$secondary: #53bfc8;
$warning: #fea13e;
$danger: #f4326d;

@import "../../../../node_modules/bootstrap/scss/bootstrap";

//$theme-colors: (
// primary: #ea60a2,
// secondary: #53bfc8
//);


