<!--<div>-->
<!--  <ul *ngFor=" let record of allRecords">-->
<!--    <li>-->
<!--      <span>{{ record.genre }}</span>-->
<!--      ||-->
<!--      <span>{{ record.frequency }}</span>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="genrePopularityChartOptions"></highcharts-chart>
<!--style="width: 100%; height: 400px; display: block;"-->

<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="seasonPopularityChartOptions"></highcharts-chart>
