.charts {
  margin: 2rem auto 5rem auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;

  color: #495057;
  background-color: white;
  /*border-bottom: 2px solid #495057;*/
  border-radius: 10px;

  width: 460px;

  @media (min-width: 768px) {
    width: 550px;
  }

  @media (min-width: 1200px) {
    width: 800px;
  }




}

.highcharts-container {
  /*width: 100%;*/
  /*width: 400px;*/
  /*@media (min-width: 1200px) {*/
  /*  width: 800px;*/
  /*}*/
}

.loading-message {
  font-size: 36px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 1200px) {
    font-size: 52px;
  }
}

.dropdown-container {
  background-color: #0A939633;
  padding: 1rem 4rem;

  border: 1px solid #495057;
  border-radius: 10px;
}

app-dropdown, .all-movies {
  font-size: 18px;

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 1200px) {
    font-size: 22px;
  }
}
