<!--<div>-->
<!--  <ul *ngFor=" let record of allRecords">-->
<!--    <li>-->
<!--      <span>{{ record.genre }}</span>-->
<!--      ||-->
<!--      <span>{{ record.frequency }}</span>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
<p *ngIf="allRecords.length === 0" class="loading-message">Loading data ... 🍿</p>

<div *ngIf="allRecords.length > 0" class="charts">
  <app-chart-description borderPosition="left" backgroundColour="#0A939611" descriptionText="The next chart shows the popularity of different movie genres, based on the forms collected on this page."></app-chart-description>

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="genrePopularityChartOptions"></highcharts-chart>
  <!--style="width: 100%; height: 400px; display: block;"-->

<app-chart-description borderPosition="right" backgroundColour="#EE9B0011" descriptionText="This chart shows which time of the year people who completed the form watch movies more often."></app-chart-description>

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="seasonPopularityChartOptions"></highcharts-chart>
</div>
